<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fashion Shop</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../../css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../../css/style.css" type="text/css">
    <link rel="stylesheet" href="../../../css/noti.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
        </div>
        <div class="offcanvas__nav__option">
            <a href="#"><img src="../../img/icon/heart.png" alt=""></a>
            <a href="/home-page/shop/shopping-cart"><img src="../../img/icon/cart.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/home-page"><img src="../../img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="/home-page">Home</a></li>
                            <li><a href="/home-page/shop">Shop</a></li>
                            <li><a href="/home-page/faqs">FAQs</a></li>
                            <!-- <li><a href="./contact.html">Contact</a></li> -->
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="header__nav__option">
                        <!-- <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a> -->
                        <a href="#"><img src="../../img/icon/heart.png" alt=""></a>
                        <a href="/home-page/shop/shopping-cart"><img src="../../img/icon/cart.png" alt=""></a>
                        {{#if user}}
                        <a href="#"  style="color:inherit"><b>Hello,
                                {{user.name}}</b></a>
                        <a href="/auth/logout"  style="color:inherit">Logout</a>

                        {{else}}
                        <a href="/auth/login"  style="color:inherit"><b>Login</b></a>
                        <a href="/auth/register"  style="color:inherit"><b>Register</b></a>
                        {{/if}}


                        <!-- <a src="img/icon/search.png" alt=""></a> -->
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>


    {{{body}}}


    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="index.html"><img src="../../img/footer-logo.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Best Sellers</a></li>
                            <li><a href="#">New Arrivals</a></li>
                            <li><a href="#">Trending</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Information</h6>
                        <ul>
                            <li><a href="faqs.html">FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <h5 style="color: white "> Contact us: admin@g2shop.com </h5>
                    <h5 style="color: white "> Phone: +84 0123013122 </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="../../../js/jquery-3.3.1.min.js"></script>
    <script src="../../../js/bootstrap.min.js"></script>
    <script src="../../../js/jquery.nice-select.min.js"></script>
    <script src="../../../js/jquery.nicescroll.min.js"></script>
    <script src="../../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../../js/jquery.countdown.min.js"></script>
    <script src="../../../js/jquery.slicknav.js"></script>
    <script src="../../../js/mixitup.min.js"></script>
    <script src="../../../js/owl.carousel.min.js"></script>
    <script src="../../../js/main.js"></script>
    <script src="../../../js/noti.js"></script>
    <script src="../../../js/index.js"></script>
    <script src="../../../js/shop.js"></script>
    <script>
        function myFunction() {
            color = document.getElementById("a-add-to-wishlist").style.color
            if (color == "red") {
                document.getElementById("a-add-to-wishlist").style.color = "black"
            } else {
                document.getElementById("a-add-to-wishlist").style.color = "red"
            }

        }
        current_star = 1
        function change_color_hover(id) {
            for (let j = 1; j <= 5; j++) {
                element_id = "div-user-rating-i" + j
                // console.log(document.getElementById(element_id).classList)
                current_star = 1
                if (j <= id) {
                    document.getElementById(element_id).classList = "fa fa-star"
                } else {
                    document.getElementById(element_id).classList = "fa fa-star-o"
                }

            }


        }
        function removeThatBlock(element) {
            element = document.getElementById(id)
            target = element.parentNode.closest('tr[name=list-products]')
            list_prods = document.querySelectorAll("tr[name=list-products] h5[name='pprice']")
            list_quans = document.querySelectorAll("tr[name=list-products] h6[name='quan']")

            target.remove();

        }
        function calculate_total_eachprod() {


             list_prods = document.getElementsByName('list-products');

            list_prods = document.querySelectorAll("tr[name=list-products] h5[name='pprice']")
            list_quans = document.querySelectorAll("tr[name=list-products] h6[name='quan']")
            list_totals = document.querySelectorAll("tr[name=list-products] h5[name='total']")

            for (i = 0; i < list_prods.length; i++) {
                list_totals[i].innerText = Number(list_prods[i].innerText) * Number(list_quans[i].innerText)

            }

        }
        function calculate_total() {
           subtotal = 0
           vat = 0.08 * subtotal
            total = subtotal + vat
            return total
        }

        function update_cart_total() {
            list_check = document.querySelectorAll("tr[name=list-products] input[name='check']")
            list_totals = document.querySelectorAll("tr[name=list-products] h5[name='total']")
            cart_total = 0
            for (i = 0; i < list_check.length; i++) {
                if (list_check[i].checked) {
                    cart_total += Number(list_totals[i].innerText)
                }
            }
            vat = 0.08 * cart_total
            total = cart_total + vat

            subtotal_tmp = cart_total.toFixed(1)
            vat_tmp = vat.toFixed(1)
            total_all_tmp = total.toFixed(1)


            document.getElementById("subtotal").innerText = "$ " + subtotal_tmp
            document.getElementById("vat").innerText = "$ " + vat_tmp
            document.getElementById("total_all").innerText = "$ " + total_all_tmp

        }
        // function post_comment(){
        //     input_title = document.getElementById("input-title").value
        //     textarea_title = document.getElementById("textarea-title").value
        //     console.log(input_title, textarea_title, current_star)
        // }

    </script>
    <!-- <script>
        function search_function() {
          // Declare variables
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById('search-input');
          filter = input.value.toUpperCase();
          ul = document.getElementById("list_products");
          console.log(ul)
          li = ul.getElementsByClassName('col-lg-4 col-md-6 col-sm-6');
          console.log(li)
        
          // Loop through all list items, and hide those who don't match the search query
          for (i = 0; i < li.length; i++) {
            console.log(li[i])
            
            a = li[i].getElementsByTagName("h6")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
            } else {
              li[i].style.display = "none";
            }
          }
        }
        function push_to_wishlist(element){
            console.log(element.parentNode)
            target = element.parentNode.closest('.col-lg-4.col-md-6.col-sm-6')
            console.log(target.querySelector("img[name='heart']").getAttribute("src"))
            if (target.querySelector("img[name='heart']").getAttribute("src") == "img/icon/heart.png") 
            {
                target.querySelector("img[name='heart']").setAttribute("src", "img/icon/heart2.png")
                Noti({
                    status: 'success',
                    content: 'Added to wishlist!',
                    timer: 5000,
                    animation: false,
                    progress: true
                });
            }
            else{ 
                target.querySelector("img[name='heart']").setAttribute("src", "img/icon/heart.png")
                Noti({
                    status: 'warning',
                    content: 'Removed from wishlist!',
                    timer: 5000,
                    animation: false,
                    progress: true
                });
            }
            // list_prods = document.querySelectorAll("tr[name=list-products] h5[name='pprice']")
            // list_quans = document.querySelectorAll("tr[name=list-products] h6[name='quan']")
            // target.remove();
        }
    </script> -->
</body>

</html>