<!-- Header Section End -->

<!-- Hero Section Begin -->

<!-- Hero Section End -->


<!-- Product Section Begin -->
<!-- Product Section End -->
<section class="shop-details">
    <div class="product__details__content" style="padding: 10%">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4>Provide information on frequent questions or concerns</h4>
                        <h1 style="padding-bottom: 10px;">FAQs</h1>
                    </div>
                    <h5 style="padding-top: 5px; padding-bottom: 10px;">Frequent questions and our answers</h5>
                    <div style="padding-bottom: 3px;">
                        <h6 style="font-weight:bold">What should I do if there are some problems from shop's products?
                        </h6>
                        <h6>Contact us via email</h6>
                    </div>
                    <div style="padding-bottom: 3px;">
                        <h6 style="font-weight:bold">Which payment method do the shop support currently?</h6>
                        <h6>VISA, Master Card, COD</h6>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>
<!-- Latest Blog Section End -->


<!-- Footer Section Begin -->