<!-- Header Section End -->

<!-- Hero Section Begin -->

<!-- Hero Section End -->


<!-- Product Section Begin -->
<!-- Product Section End -->
<section class="shop-details">
    <div class="product__details__content" style="padding: 10%">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4>Announcement</h4>
                        <h1>Page not found</h1>
                        <p>Make sure you input correctly</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->

<!-- Footer Section Begin -->